/* NAV AND BLOCK ELEMENTS */
.stack {
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* 1 VERSION (A) NOT USING */
nav.fixedA{
  position: fixed;
  left: 12%;
  top: 50%;
  z-index: 20;
  display: inline-block;

}


/* SLIDER & SOCIALS (FOOTER) */
#slider a {
  text-decoration: none;
  padding: 4px 6px;
  color: black;
  font-family:'Nova Cut', cursive;
}
#slider a:hover {
  color: #770000 ;
}

/* 2 VERSION (B) - USING :) */
/* PHOTO SLIDER B */
#images2 {
  width: 30vw;
  height: 37vw;
  max-height: 70vh;
  overflow: hidden;
  position: relative;
  margin-left:auto;
  /* margin-right:auto; */
}

#images2 img {
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;
  /* transition: all linear 500ms;
  -o-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -webkit-transition: all linear 500ms; */
}
#images2 img:target {
  left: 0;
  z-index: 9;
  opacity: 1;
}
#images2 img:first-child {
  left: 0;
  opacity: 1;
}

#bio2 {
  width: 30vw;
  height: 37vw;
  max-height: 70vh;
  overflow: scroll;
  position: relative;
  margin-left:auto;
  /* margin-right:auto; */
}

#images2 p {
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;}

/* This media query kicks into action at the gridlex sm breakpoint */
@media(max-width:576px) {
  /* SLIDER & SOCIALS (FOOTER) */
  #slider a {
      text-decoration: none;
      padding: 4px 6px;
      color: black;
      font-family:'Nova Cut', cursive;
    }

    #slider a:hover {
      color: #770000 ;
    }

  /* 2 VERSION (B) - USING :) */
  /* PHOTO SLIDER B */
    #images2 {
      width: 55vw;
      height: 70vw;
      max-height: 73vh;
      overflow: hidden;
      position: relative;
      margin-left:auto;
      margin-right:auto;
    }

    #images2 img {
      position: absolute;
      top: 0;
      left: -400px;
      z-index: 1;
      opacity: 0;
      /* transition: all linear 500ms;
      -o-transition: all linear 500ms;
      -moz-transition: all linear 500ms;
      -webkit-transition: all linear 500ms; */
    }
    #images2 img:target {
      left: 0;
      z-index: 9;
      opacity: 1;
    }
    #images2 img:first-child {
      left: 0;
      opacity: 1;
    }

    #bio2 {
      width: 55vw;
      height: 70vw;
      max-height: 73vh;
      overflow: scroll;
      position: relative;
      margin-left:auto;
      margin-right:auto;
    }

    #images2 p {
      position: absolute;
      top: 0;
      left: -400px;
      z-index: 1;
      opacity: 0;
  }

  .mob-centered {
    text-align: center;     }
}
