/* NAV AND BLOCK ELEMENTS */
.stack {
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* SLIDER */
#slider a {
  text-decoration: none;
  padding: 4px 6px;
  color: black;
  font-family:'Nova Cut', sans-serif;
}

#slider a:hover {
  color: #770000 ;
}

/* 2 VERSION (B) - USING :) */
/* PHOTO SLIDER B */
#images2 {
  /* width: 30vw; */
  height: 70vh;
  max-height: 80vh;
  overflow: hidden;
  position: relative;
  margin-left:auto;
}

#images2 img {
  position: absolute;
  /* top: 18%; */
  left: -400px;
  z-index: 1;
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

#images2 img:target {
  left: 0;
  z-index: 9;
  opacity: 1;
}

#images2 img.first-image {
  left: 0;
  opacity: 1;
}

#bio2 {
  /* width: 30vw; */
  height: 72vh;
  max-height: 72vh;
  overflow: scroll;
  position: relative;
  margin-left:auto;
  /* margin-right:auto; */
}

/* This kicks in just under the md breaking point */
@media(max-width:1024px) {
  #images2 {
    height: 50vh;
  }

#bio2 {
  height: 53vh;

}

/* This media query kicks into action at the gridlex sm breakpoint */
@media(max-width:768px) {


  }

/* This media query kicks into action at the gridlex sm breakpoint */
@media(max-width:576px) {
  /* SLIDER & SOCIALS (FOOTER) */
  #slider a {
      padding: 4px 6px;
      font-size: 10px;
    }

   }
