/* NAV AND BLOCK ELEMENTS */
.stack {
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top{
  margin-top: 50%;
}

/* 1 VERSION (A) */
nav.fixedA{
  position: fixed;
  left: 12%;
  top: 50%;
  z-index: 20;
  display: inline-block;

}

#sidenav a{
  padding: 4px 6px;
  font-family: 'Amiko', sans-serif;

}

/* PHOTO SLIDER A */
#images {
  width: 21rem;
  height: 26rem;
  overflow: hidden;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}
#images img {
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;
  transition: all linear 500ms;
  -o-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -webkit-transition: all linear 500ms;
}
#images img:target {
  left: 0;
  z-index: 9;
  opacity: 1;
}
#images img:first-child {
  left: 0;
  opacity: 1;
}
#slider a {
  text-decoration: none;
  padding: 4px 6px;
  color: black;
  font-family:'Nova Cut', cursive;
}
#slider a:hover {
  color: #770000 ;
}

/* 2 VERSION (B) */
nav.fixedB{
  position: fixed;
  top: 13rem;
  left: 70%;
  width: 11rem;
  z-index: 20;

}

nav.fixedB2{
  position: fixed;
  top: 40%;
  right: 10rem;
}

/* PHOTO SLIDER B */
#images2 {
  width: 30vw;
  height: 37vw;
  max-height: 70vh;
  overflow: hidden;
  position: relative;
  margin-left:auto;
  /* margin-right:auto; */
}

#images2 img {
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;
  /* transition: all linear 500ms;
  -o-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -webkit-transition: all linear 500ms; */
}
#images2 img:target {
  left: 0;
  z-index: 9;
  opacity: 1;
}
#images2 img:first-child {
  left: 0;
  opacity: 1;
}

#bio2 {
  width: 30vw;
  height: 37vw;
  max-height: 70vh;
  overflow: scroll;
  position: relative;
  margin-left:auto;
  /* margin-right:auto; */
}

#images2 p {
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;
